.chat {
    display: flex;
    flex-direction: column;
    flex: 0.75;
    height: 100vh;
    overflow: auto;
    background:#36393e;
    font-family: "Tahoma";
    color: #f3f3f3;
}

.chat__input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-radius: 5px;
    margin: 20px;
    overflow: auto;
    background: #424549;
    font-family: "Tahoma";
}

.chat__input>form>input {
    padding: 10px;
    background: transparent;
    width: 100%;
    border: none;
    outline-width: 0;
    font-size: large;
    outline: none;
    color: white;
    cursor:pointer;
}

.chat__input>form {
    flex: 1;
    display: flex;
}

.chat__inputButton {
  resize: auto;
  height: 50px;
  font-size: 0.9rem;
  min-width: 50px!important;
  color: #f6f6f7;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0,0,0,.3);
  background: rgba(0,0,0, 0.1);
  outline: none;
  padding-left: 10px;
  font-family: "Tahoma";
}

.chat__inputButton:hover{
    cursor: pointer;
    color: darkgray;
    background:white;
}

.chat__inputIcons>.MuiSvgIcon-root {
    padding: 5px;
}

.chat__messages{
    flex: 1;
}